.base {
  display: block;
  height: 42px;
  width: 100%;
  border: 2px solid #555;
  border-radius: 5px;
  font-size: 1em;
  margin: 0;
  padding: 10px 25px 10px 12px;
  background: 0 0;
  text-align: left;
  color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
