.base {
  display: grid;
  max-width: 1100px;
  width: 100%;
  padding: 50px 40px 30px;
  margin: 0 auto;
  gap: 24px;
}

.static {
  display: grid;
  gap: 32px;
}

.static-items {
  display: grid;
  gap: 20px;
}

.static-item {
  display: grid;
  gap: 16px;
  grid-template-columns: 44px auto;
}

.icon {
  display: table-cell;
  width: 44px;
}

.info i {
  font-size: 33px;
  color: #007ced;
}

.info {
  display: grid;
  gap: 7px;
}

.info h3 {
  font-weight: 600;
  color: #f5f5f5;
}

.info h3 a {
  font-size: 18px;
  color: #007ced;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.info h3 a:hover {
  color: #ff9800;
}

.info p {
  font-size: 0.92em;
  color: var(--light-gray);
  margin: 0 0 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: grid;
  column-gap: 32px;
  row-gap: 16px;
  height: 100%;
}

.inputs {
  display: grid;
  gap: 10px;
  order: 0;
}

.submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 2.1em;
  cursor: pointer;
  font-size: 1em;
  height: 44px;
  outline: 0;
  border: 2px solid #007ced;
  color: var(--white);
  text-shadow: none;
  background-color: #333;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  order: 2;
}

.error {
  border: 2px solid #ff3333;
}

.success {
  border: 2px solid #4bb543;
}

.loading {
  border: 2px solid #a3a3a3;
}

.textarea {
  order: 0;
}

@media (min-width: 834px) {
  .base {
    gap: 40px;
    grid-template-columns: 1fr 2fr;
  }

  .inputs,
  .textarea,
  .submit {
    order: unset;
  }

  .form {
    grid-template-columns: repeat(2, 1fr);
  }

  .inputs {
    row-gap: 0;
  }
}

@media (min-width: 1280px) {
  .base {
    padding: 52px 0 0;
  }
}
