.base {
  display: inline-grid;
  padding: 1rem;
}

.link {
  opacity: 0.55;
  transition: opacity var(--transition-300) ease-in-out;
}

.link {
  color: var(--white-smoke);
}

.link:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

@media (min-width: 834px) {
  .base {
    padding: 0.5rem 2rem;
  }
}
